@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
  display: inline;
  width: initial;
} */
/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: "capitana", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: var(--negro);
  /* opcional */
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}


/* HEADER */

.Header-home{
  margin: auto;
  width: 100%;
  height: 9vh;
  display: block;
  position: relative;
  left: 0;
  top: 0;
  background-color:#F2ECCF;
}

.Header-wrapper{
  margin: auto;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0; 
  left: 0;
  background-color: rgba(242, 236, 207, 0.3);
}

.Nav{
  margin: auto;
  color:#229C69 ;

  width: 90%;
  animation: slideDown 2s ease 1 both;
}
@keyframes slideDown {
  from{
      transform: translateY(-100%);
      opacity: 0;

  }
  to{
      transform: translateY(0%);
      opacity: 1;

  }
}
.Nav-ul{
  display: flex;
  flex-flow: row nowrap;
  justify-content:space-between;
  align-items: center;
}
.Nav-li{
  position: relative;
  font-family: "capitana", sans-serif;
  font-weight: 400;
  font-size: large;
  font-style: normal;
  color:#229C69 ;
}
a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #229C69;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.Nav-li a:hover::before {
  transform: scaleX(1);
}

.Nav-li:active{
  font-weight: 800;
  font-style: normal;
}

.Nav-btn{
  width: 4.8125rem;
  height: 5.3125rem;
}                
.Div-mobile{
  display: none;
}
/* MAIN */
           
.Main-home{
  background-color:#F2ECCF;
}

/* CAPA */

.Container-wrapper{
  animation: slideUp 2s ease 1 both;
}
@keyframes slideUp {
    from{

        transform: translateY(15%);
    }
    to{
        transform: translateY(0%);

    }
}

.Background-img{
  background-image:url(../assets/fundo.png) ;
  background-repeat: no-repeat;
  background-size:contain;
  background-position:center;
  padding: 10rem 0rem 2rem 0rem;
}

/* WORK */


.Work-div{
  padding-top: 8rem;

}
.Work-wrapper{
  margin: auto;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.Work-ul{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  max-width:60%;
}
.Work-li{
  position: relative;
}
.Work-li:hover .opacity{
  opacity: 1;

}
.Work-img{
  opacity: 1;
  cursor: pointer;
  transition: all 1s ease;
} 
.Work-img.opacity{
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
}

/* SERVICE */

.Container-ser{
  margin: auto;
  width: 90%;
  color:#0743ED;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.Ser-wrapper{
  margin: auto;
  padding-top: 10rem;
  padding-bottom: 10rem;
  width: 100%;
  gap: 1.3rem;
  opacity: 1;
  animation: slideRight 3s ease 1 both;
  max-width: revert;
}

@keyframes slideRight {
    from{

        transform: translatex(-15%);
    }
    to{
        transform: translatex(0%);

    }
}
.Container-h1{
  cursor: pointer;
  font-size:5rem;
  font-family: "fit-wide", sans-serif;
  font-weight: 400;
}
.Container-h1:hover{
  animation: scaleDown 1s ease both 1ms;
}
@keyframes scaleDown{
  from{
    transform: scale(100%);
  }
  to{
    transform: scale(90%);
  }
}
.Container-h1.isActive{
  opacity: 1;
  background-color: #E66308;
}
.Star-h1{
  color:#229C69;
}
.Container-img{
  margin: auto;
  width: 90%;
  height: 55vh;
  position: relative;
}
.S-img{
  position: absolute;
  opacity: 0;
  width: 80%;
}
.S-img.isActive{
  opacity: 1;
  animation: appear 1s ease-in-out 2ms;
  width: 70%;
  right: 15%;
  top: 3%;
  box-shadow:  15px 15px 29px#ccc9b6,
             -15px -15px 29px #d9d5c3;
}
@keyframes appear {
	0% {
		opacity: 0;
		transform: translateY(0);
	}

	100% {
		opacity: 1;
		transform: translateY(15%);
	}
}

/* FOOTER */

.Footer{
  margin: auto;
  padding: 2rem;
  background-color: #F2ECCF;
}
.Footer-wrapper{
  margin: auto;
  width: 90%;
}
.Rs-ul{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.Rs-li{
  width: 1.875rem;
  color: #229C69;
}
.Rs-li:hover{
  transform: scale(1.2);
  transition: all ease .5s;
  color: #E66308;
}

/* RESPONSIVE */


@media(max-width:1093px){

  
  .Container-ser{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 10rem;

  }
  .Ser-wrapper{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 3rem 4rem 3rem 4rem;

  }
  .Container-h1{
    cursor: pointer;
    font-size:4rem;
    font-family: "fit-wide", sans-serif;
    font-weight: 400;
  }
  .Work-ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    max-width: 600px;
  }
}


@media(max-width:850px){
  .Work-div{
    padding-top: 8rem;
  
  }
  .Work-wrapper{
    margin: auto;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .Work-ul{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    max-width: 25rem;
    gap:2rem;
    padding-top: 2rem;
  }
  .Background-img{
    background-image:url(../assets/fundo.png) ;
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center;
    padding: 10rem 0rem 2rem 0rem;
  }
  .Footer{
      margin: auto;
      padding-top: 5rem;
      background-color: #F2ECCF;
  }
}

  @media(max-width:710px){
    .Nav{
      display: none;
    }
   .Div-mobile{
      position: fixed;
      z-index: 1;
      margin: auto;
      width: 100%;
      display: block;
      background-color: rgba(242, 236, 207, 0.9);
   }
   .Nav-mobile{
    display: none;
    }
   .Nav-mobile.isActive{
      display: block;
    }
    .Btn-mobile{
      width: 90%;
      margin: auto;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      width: 77px;
      height: 85px;
    }
    .Ul-mobile{
      width: 90%;
      margin: auto;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      padding: 2rem 0rem 2rem 0rem;
    }
    .Li-mobile{
      font-family: "capitana", sans-serif;
      font-weight: 400;
      font-size: large;
      font-style: normal;
      color:#229C69 ;
      padding-top: 2rem;
      border-bottom: #bbbcbc 1px solid; 
    }
    .Container-h1{
      font-size:2.8rem;
    }
  }

@media(max-width:570px){
    .Container-img{
      margin: auto;
      width: 100%;
      height: 30vh;
      position: relative;
    }
    .Work-wrapper{
      margin: auto;
      width: 90%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }
    .Container-ser{

      padding-bottom: 0rem;

    }
    .Work-ul{
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      max-width: 18.75rem;
      gap:2rem;
      padding-top: 2rem;
    }
}

@media(max-width:469px){
    .Container-h1{
      font-size: 1.8rem;
    }
}


@media(max-width:375px){
    .Container-h1{
      font-size: 1rem;
    }
}