@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
  display: inline;
  width: initial;
} */
/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: "capitana", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: var(--negro);
  /* opcional */
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

/* HOME CSS */

/* Header */


.Header-work{
  margin: auto;
  width: 100%;
  height: 9vh;
  display: block;
  position: relative;
  left: 0;
  top: 0;
  background-color:#F2ECCF;
}

.Header-wrapper{
  margin: auto;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0; 
  left: 0;
  background-color: rgba(242, 236, 207, 0.3)
  ;
}

.Nav{
  margin: auto;
  color:#229C69 ;

  width: 90%;
  animation: slideDown 2s ease 1 both;
}
@keyframes slideDown {
  from{
      transform: translateY(-100%);
      opacity: 0;

  }
  to{
      transform: translateY(0%);
      opacity: 1;

  }
}
.Nav-ul{
  display: flex;
  flex-flow: row nowrap;
  justify-content:space-between;
  align-items: center;
}
.Nav-li{
  position: relative;
  font-family: "capitana", sans-serif;
  font-weight: 400;
  font-size: large;
  font-style: normal;
  color:#229C69 ;
}
a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 0.125rem;
  bottom: 0;
  left: 0;
  background-color: #229C69;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.Nav-li a:hover::before {
  transform: scaleX(1);
}

.Nav-li:active{
  font-weight: 800;
  font-style: normal;
}
.Nav-btn{
  width: 4.8rem;
  height: 5.3rem;
}
               
.Div-mobile{
  display: none;

}
.Nav-mobile{

}
.Ul-mobile{

}
.Li-mobile{

}

/*MAIN*/

.Main-work{
  background-color: #F2ECCF;
}
.Work-container{
  padding-top: 4rem;
  margin: auto;
  display: flex;
  flex-flow:column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.Work-relative{
  padding-bottom: 3rem;
  position: relative;
  height: 15vh;
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  align-items: center;
}
.Work-rotate{
  width: 35%;
  position: absolute;
  top: -2;
  right: -3;
  animation: rotation 10s linear infinite;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.Work-static{
  width: 19%;
}
.Work-logo{
  padding-top: 4rem;
  width: 16%;
  animation: EncoLhe 2s ease 0s 1 normal forwards;  
}
@keyframes EncoLhe {
0% {
  transform: scale3d(1, 1, 1);
}

30% {
  transform: scale3d(1.25, 0.75, 1);
}

40% {
  transform: scale3d(0.75, 1.25, 1);
}

50% {
  transform: scale3d(1.15, 0.85, 1);
}

65% {
  transform: scale3d(0.95, 1.05, 1);
}

75% {
  transform: scale3d(1.05, 0.95, 1);
}

100% {
  transform: scale3d(1, 1, 1);
}
}
.Work-h1{
  font-size:4rem;
  font-family: "fit-wide", sans-serif;
  font-weight: 400;
  color:#0743ED;
  padding-right: 1rem;
  animation: appear 1s ease 0s 1 normal forwards;
}
@keyframes appear {
0% {
  opacity: 0;
  transform: scale(0.6);
}

100% {
  opacity: 1;
  transform: scale(1);
}
}
.Work-p{
  color:#717171;
  width: 50%;
  text-align: center;
}
.Work-video{
  width: 70%;
  margin: auto;
  padding-bottom: 4rem;
  padding-top: 4rem;
}
/* SLIDER */

.Slider{
	width: 70%;
	background-color: #F2ECCF;
	margin: auto;
	position: relative;
	overflow: hidden;
}
.Div-slider{
	width: 100%;
	background-color:#F2ECCF;
	position: relative;
}
.Slider-img{
	width: 100%;
	min-height: 5rem;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: all .5s ease;
}
.Slider-img.isActive{
	opacity: 1;
}
.Slider-img:nth-child(1){
	position: static;
}
.Slider-click{
	width: 4rem;
	height: 4rem;
	background-color:#229C69;
	border-radius: 50%;
	padding: 1rem;
	position: absolute;
	top: calc( 50% - 2rem );
	cursor: pointer;
	transform: scale(1);
	transition: all .5s ease;
}
.Slider-click:hover{
	transform: scale(.9);
}
.Slider-click:active{
	transform: scale(1.1);
}
.Slider-click.prev{
	left:5%;
}
.Slider-click.next{
	right: 5%;
}
.Slider-svg{
  color: #F2ECCF;
}
.Slider-ul{
	width: 100%;
	position: absolute;
	bottom: 5%;
	display: flex;
  flex-direction: row nowrap;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
.Slider-btn{
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	cursor: pointer;
	transform: scale(1);
	transition: all .5s ease;
	border:0.25rem solid #229C69;
}
.Slider-btn:hover{
	transform: scale(.9);
}
.Slider-btn:active{
	transform: scale(1.1);
}
.Slider-btn.isActive{
	background-color:#F2ECCF;
}
.Guia-btn{
  width: 100%;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  width: 16rem;
  padding: 1rem;
  opacity: .5;
  border:2px solid #229C69;
  background-color: #229C69;
  color: #F2ECCF;
}
.Guia-btn:hover{
  border-radius: 1rem;
  width: 16rem;
  padding: 1rem;
  border: 0.125rem solid #E66308;
  background-color: #E66308;
}
.Guia-part{
  padding-bottom: 2rem;
}
.Container-modo{
  margin: auto;
  width: 70%;
  padding: 2rem 0rem 2rem 0rem;
}
.Modo-box{
  position: relative;
  padding-bottom: 56.25%;
}
.Modo-box iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Modo-video{
  aspect-ratio: 16 / 9;
  width: 100%;
}

/* FOOTER */

.Footer{
  margin: auto;
  padding: 2rem;
  background-color: #F2ECCF;
}
.Footer-wrapper{
  margin: auto;
  width: 90%;
}
.Rs-ul{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.Rs-li{
  width: 1.875rem ;
  color: #229C69;
}
.Rs-li:hover{
  transform: scale(1.2);
  transition: all ease .5s;
  color: #E66308;
}

@media(max-width:1114px){
  
  .Work-logo{
      padding-top: 4rem;
      width: 25%;
      animation: EncoLhe 2s ease 0s 1 normal forwards;
  }
.Title{
  font-size:3rem;
  font-family: "fit-wide", sans-serif;
  font-weight: 400;
  color:#0743ED;
  padding-right: 1rem;
  animation: appear 1s ease 0s 1 normal forwards;

  }
  }
  
@media(max-width:710px){
  .Nav{
    display: none;
  }
  .Div-mobile{
    position: fixed;
    z-index: 1;
    margin: auto;
    width: 100%;
    display: block;
    background-color: rgba(242, 236, 207, 0.9);
  }
  .Nav-mobile{
    display: none;
  }
  .Nav-mobile.isActive{
      display: block;
  }
  .Btn-mobile{
    width: 90%;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 4.8125rem;
    height: 5.3125rem;
  }
  .Ul-mobile{
    width: 90%;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem 2rem 0rem;

  }
  .Li-mobile{
    font-family: "capitana", sans-serif;
    font-weight: 400;
    font-size: large;
    font-style: normal;
    color:#229C69 ;
    padding-top: 2rem;
    border-bottom: #bbbcbc 1px solid;
  }
  .Work-logo{
    padding-top: 4rem;
    width: 40%;
    animation: EncoLhe 2s ease 0s 1 normal forwards;   
  }
  .Work-h1{
    font-size:3rem;
    font-family: "fit-wide", sans-serif;
    font-weight: 400;
    color:#0743ED;
    padding: 1rem;
    animation: appear 1s ease 0s 1 normal forwards;
  } 
}

@media(max-width:577px){
  .Work-logo{
  padding-top: 4rem;
  width: 40%;
  animation: EncoLhe 2s ease 0s 1 normal forwards;   
  }
  .Work-h1{
  font-size:3rem;
  font-family: "fit-wide", sans-serif;
  font-weight: 400;
  color:#0743ED;
  padding: 1rem;
  animation: appear 1s ease 0s 1 normal forwards;
  }
}




@media(max-width:413px){
  
  .Work-logo{
  padding-top: 4rem;
  width: 40%;
  animation: EncoLhe 2s ease 0s 1 normal forwards;   
  }
  .Work-h1{
  font-size:2.2rem;
  font-family: "fit-wide", sans-serif;
  font-weight: 400;
  color:#0743ED;
  padding: 1rem;
  animation: appear 1s ease 0s 1 normal forwards;
  }
  .Work-p{
  color:#717171;
  width: 70%;
  text-align: center;
  }
  .Slider-click{
    width: 2rem;
    height: 2rem;
    background-color:#229C69;
    border-radius: 50%;
    padding: 1rem;
    position: absolute;
    top: calc( 50% - 1rem );
    cursor: pointer;
    transform: scale(1);
    transition: all .5s ease;
  }
  .Slider-btn{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    cursor: pointer;
    transform: scale(1);
    transition: all .5s ease;
    border: .0625rem solid #229C69;
  }
  .Guia-btn{
    width: 10rem;
  }
}
